.list-items-container {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 15px;
  width: 40%;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-image {
  height: 150px;
  width: 320px;
}

.name {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #334155;
}

.description {
  font-size: 10px;
  font-family: 'Roboto';
  color: #475569;
  margin: 15px;
}
